body {
    background: #f2f2f785;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:
        linear-gradient(
            rgba(242, 242, 247, 0.85),
            rgba(242, 242, 247, 0.85)
        ),
        url("https://imgs.search.brave.com/Ul5hf1S116IFfV1UTMaQrNNC1QDqYvjVyV8YKUof9SY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bWF0ZXJpYWxlc2Nv/bGFyLmVzL2Jsb2cv/d3AtY29udGVudC91/cGxvYWRzLzIwMTYv/MDUvanVlZ29zLXJl/dW5pZG9zLmpwZw");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#login {
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    width: 330px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #4b7bec;
}



button {
    width: 100%;
    padding: 12px;
    background: #4b7bec;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background: lch(53.23% 104.58 40 / 0.522);
}
