body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;

    background-image:
        linear-gradient(
            rgba(242, 242, 247, 0.85),
            rgba(242, 242, 247, 0.85)
        ),
        url("https://imgs.search.brave.com/Ul5hf1S116IFfV1UTMaQrNNC1QDqYvjVyV8YKUof9SY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bWF0ZXJpYWxlc2Nv/bGFyLmVzL2Jsb2cv/d3AtY29udGVudC91/cGxvYWRzLzIwMTYv/MDUvanVlZ29zLXJl/dW5pZG9zLmpwZw");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}


.register, .contacto {
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    width: 330px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

label {
    font-size: 14px;
}


input {
    width: 100%;
    padding: 10px;
    margin: 0 0 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus,
select:focus {
    border-color: #4b7bec;
}


input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin: 0 6px 0 0;
    vertical-align: middle;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
}



select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: white;
    outline: none;
}



.telefono-box {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.telefono-box select {
    width: 85px;
}

.telefono-box input {
    margin: 0;
}


button {
    width: 100%;
    padding: 12px;
    background: #4b7bec;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #3867d6;
}


#passMensaje {
    font-size: 12px;
    margin: -10px 0 10px 0;
}
