body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
    align-items: center;      
    background-color: #f0f0f0;
}

#titulo h1 {
    text-align: center;
    margin: 20px 0;
}

canvas {
    border: 3px solid #000;
}

#info {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

#logs{
    width: 300px;
    height: 200px;
    text-align: center;
    align-items: center;
}
